body{
    overflow-y: hidden;
	display: flex;
    align-items: center;
	background-image:url(../img/0.png);
	background-size: 64px;
}
#loading{
	margin: 0 auto;
    width: 30%;
    text-align: center;
    background: #f2f2f291;
    height: 100px;
    padding: 100px;
    border-radius: 10px;
    box-shadow: #a2ccf55c 0px 0px 7px 20px;
}
.loadTitle{
	margin: 15px;
    font-family: 华文行楷;
    font-size: 20px;
}
.loadBar{
	height: 30px;
    position: absolute;
    background: #5bb359;
    margin: 0 auto;
}
.loadNum{
	width:100%;
	position:absolute;
}
.bgProcessBar{
	width: 100%;
    height: 30px;
    border: 1px solid black;
    margin: 0 auto;
}


#tower{
	width: 1054px;
    height: 750px;
    margin: 0 auto;
}

.left{
	float: left;
    width: 300px;
    height: 750px;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.propArea{
	width:280px;
	height:704px;
}
.statusArea,.keysArea{
    border: 6px solid #CC6600;
	background-image:url(../img/4.jpg);
	background-size:64px;
	margin-bottom:6px;
}
.statusArea td,.keysArea td{
	padding: 0 20px;
}
.statusArea table,.keysArea table,.settingArea table{
	color: white;
    font-size: 25px;
    text-align: center;
}
.keysArea{
	margin-bottom:0px;
	border-bottom:3px solid #CC6600;;
}

.keysTd{
	padding-left: 65px !important;
}

.floorArea{
	border: 6px solid #CC6600;
	background-image:url(../img/4.jpg);
	background-size:64px;
	text-align:center;
	border-top:3px solid #CC6600;
	color:white;
	font-size: 25px;
    padding: 8 0px;
	margin-bottom:6px;
}

.settingArea{
	border: 6px solid #CC6600;
	background-image:url(../img/4.jpg);
	background-size:64px;
	margin-bottom:6px;
}
.settingArea table{
	font-family:'华文行楷';
	width: 100%;
}
.toolsArea{
	border: 6px solid #CC6600;
	background-image:url(../img/4.jpg);
	background-size:64px;
	height: 150px;
	margin-bottom:6px;
}
.right{
	float: right;
    position: relative;
    width: 750px;
    height: 100%;
    
	display: flex;
    justify-content: center;
    align-items: center;
}

.gameArea{
	width:704px;
	height:704px;
	border: 6px solid #CC6600;
	background:white;
}
.gameDiv{
	position:relative;
}
.shadeBox{
	position: absolute;
    width: 704px;
    height: 704px;
    background: black;
    top: 0px;
    z-index: 1000;
	color:white;
	text-align:center;
}
.shadeBox img{
	position: relative;
    top: 20%;
    width: 40%;
}
.shadeBox span{
	position: relative;
    top: 30%;
    font-size: 30px;
    font-family: 华文行楷;
}

.handBook{
	position: absolute;
    width: 704px;
    height: 704px;
    background: black;
    top: 0px;
    z-index: 1000;
	color:white;
	text-align:center;
}
.handBook table{
	color:white;
	border-collapse: separate;
    border-spacing: 0px 2px;
	width:100%;
	text-align:center;
}
.handBook div{
	margin:0 auto;
}
.tipBox{
	width: 90%;
    min-height: 90px;
    border: 4px solid #CC6600;
    position: absolute;
    top: 38%;
    left: 5%;
    background-image: url(../img/4.jpg);
	background-size:64px;
	text-align: center;
    color: white;
    font-size: 30px;
}
.toolName{
	font-family: 华文行楷;
    font-size: 35px;
    font-weight: normal;
}
.toolText{
	text-align: left;
    font-size: 20px;
    margin:10px;
}
.stipBox{
	width: 90%;
    height: 90px;
    position: absolute;
    top: 38%;
    left: 5%;
	text-align: center;
}
.black{
	background: black !important;
}
.tipText{
	line-height: 90px;
}
.tipSpace{
	float: right;
    font-size: 15px;
    line-height: normal;
    bottom: 0px;
    right:5px;
    position: absolute;
	animation: blingText 800ms ease-out infinite alternate;
}

@keyframes blingText {
    0% {
		color: white;
    }
    100% {
        color: transparent;
    }
}

.gameTable{
	border-spacing: 0px;
	position:relative;
}
.gameTable td{
	padding:0px;
}
.eleTd{
	width:64px;
	height:64px;
	background-size:cover;
}
.ele40Td{
	width:40px;
	height:40px;
	background-size:40px;
}
.hero{
	position:absolute;
}

.dialogBox{
	width: 450px;
    height: 140px;
    background-image: url(../img/4.jpg);
    position: absolute;
    border: 4px solid #CC6600;
    z-index: 100;
}
/*其余角色对话框*/
.otherDialogBox{
    top: 260px;
    left: -30px;
}

.heroDialogBox{
	top: 420px;
    left: 240px;
}

.dialogBox span{
	color:white;
	font-size:25px;
}

.dialogBox tr {
    height: 40px;
}

.spaceDiv{
	color: white;
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 10px;
    right: 10px;
	animation: blingText 800ms ease-in-out infinite alternate;
}

/*攻击框*/
.attackBox{
    border: 6px solid #CC6600;
    position: relative;
    top: -550px;
    left: -48%;
    width: 150%;
    margin: 0 auto;
    height: 350px;
    background-image: url(../img/4.jpg);
    background-size: 64px;
	
}
.attackBox table{
	width: 97%;
    margin: 35px auto;
    color: white;
    font-size: 25px;
}

.attackRole{
	text-align: center;
    width: 140px;
    height: 140px;
    border: 3px solid #CC6600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteLineTd{
	border-bottom:2px solid white;
}
.leftText{
	text-align:left;
}
.rightText{
	text-align:right;
}
.centerText{
	text-align:center;
}
.italic{
	font-style: italic;
	font-weight:bold;
}

.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave-to {
  opacity: 0;
}

.fadeq-leave-active {
  transition: opacity 0.5s;
}
.fadeq-leave-to {
  opacity: 0;
}
.compass,.shop{
	position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}
.compassDescript,.compassSelect,.shopSelect{
	padding: 20px;
    background: black;
    border: 4px solid #cc6600;
}
.compassDescript span,.shop span{
	color: white;
    bottom: 10px;
}
.compassSelect table,.shopSelect table{
	color:white;
	width: 400px;
	color: white;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
}
.compassSelect caption{
	font-family: 华文行楷;
    font-size: 50px;
}

.compassSelect td,.shopSelect td{
	border:2px solid black;
}



.selectFloor{animation: glow 800ms ease-out infinite alternate; }
@keyframes glow {
    0% {
		border:2px solid white;
    }
    100% {
        border:2px solid black;
    }
}

