body{
    overflow-y: auto;
	display: flex;
    align-items: center;
}

#tower{
	width: 1054px;
    height: 750px;
    border: 1px solid black;
    margin: 0 auto;
	background:black;
}

.left{
	float: left;
    width: 300px;
    height: 750px;
    border: 1px solid black;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.propArea{
	width:280px;
	height:704px;
	border: 1px solid black;
	background:white;
}

.right{
	float: right;
    position: relative;
    width: 750px;
    height: 100%;
    border: 1px solid black;
	display: flex;
    justify-content: center;
    align-items: center;
}

.gameArea{
	width:704px;
	height:704px;
	border:1px solid black;
	background:white;
}
.gameDiv{
	position:relative;
}
.gameTable{
	border-spacing: 0px;
	position:relative;
}
.gameTable td{
	padding:0px;
}
.eleTd{
	width:64px;
	height:64px;
	background-size:cover;
}
.hero{
	position:absolute;
}

.dialogBox{
	width: 450px;
    height: 140px;
    background-image: url(../img/4.jpg);
    position: absolute;
    border: 4px solid #794825;
    z-index: 100;
}
/*其余角色对话框*/
.otherDialogBox{
    top: 260px;
    left: -30px;
}

.heroDialogBox{
	top: 420px;
    left: 240px;
}

.dialogBox span{
	color:white;
	font-size:25px;
}

.dialogBox tr {
    height: 40px;
}

.spaceDiv{
	color: white;
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 10px;
    right: 10px;
}


